
header{
    display:flex;
    flex-direction: row;
    position:fixed;
    top:0;
    right:0;
    left:0;
    padding: 10px;
    background-color: rgb(0, 0, 255,0.1);
    backdrop-filter: blur(10px);
}
p{
    margin:0;
    display:inline-block;
}
a{
    display:inline-block;
    text-decoration: none;
    color:white;
    font-weight: 600;
}
ul{
    margin:0;
    padding:0;
    list-style: none;
    flex:1;
    text-align: right;
}
li{
    display:inline-block;
    margin-left: 10px;
    cursor:pointer;
    transition: opacity 0.15s;
}
li:hover{
    opacity: 0.8;
}