.logintosee{
    height: 100vh;
    width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -45px;
    font-size: 40px;
}